.cellDisplay {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}